
th, td {
    padding: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #c0c0c0;
}
table tr:nth-child(even) {
   background-color: #dbeeee;
}

table tr:hover td {
	background-color: white;
	transition:0;
}

table th {
	background-color: #808080;
}
