<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>FileNet</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>NewFile</servlet-name>
		<jsp-file>/NewFile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewFile</servlet-name>
		<url-pattern>/NewFile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>author</servlet-name>
		<jsp-file>/autor.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>author</servlet-name>
		<url-pattern>/author</url-pattern>
	</servlet-mapping>
</web-app>